::-webkit-scrollbar{
	width: 10px;
}
::-webkit-scrollbar-track{
	border: 7px solid black;
}
::-webkit-scrollbar-thumb{
	background:linear-gradient(45deg,#06dee1,#79ff6c);
	border-radius: 3px;
}